.body {
    background-color: $body-bg-color;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    height: auto;

    .container {
        display: flex;
        width: 1180px;
        max-width: 1180px;
        height: 100vh;
        min-height: 700px;
        background-color: $text_color_02;
        position: relative;
        box-shadow: 4px 4px 40px 0 $shadow;

        @include responsive(l-tablet) {
            box-shadow: none;
            width: 0px;
        }

        .error_warning {
            display: none;
            position: absolute;
            bottom: 72px;
            left: 106px;
            z-index: 2;
            height: 64px;
            width: 380px;
            border-radius: 8px;
            align-items: center;
            justify-content: space-between;
            border: 1px solid $errorWarning;
            background-color: $errorWarningBg;
            padding: 12px 16px 12px 32px;

            @include responsive(l-tablet) {
                top: 50px;
                left: 50%;
                transform: translateX(-50%);
                height: 48px;
                width: 327px;
            }

            .error_warning_img {
                width: 24px;
            }

            button {
                background-color: inherit;
                width: 24px;
                height: 24px;
                padding: 0;
            }

            h3 {
                font-size: 14px;
                line-height: 20px;
                color: $errorWarning;
                text-align: center;
                width: 167px;
            }
        }

        .error_warning.active {
            display: flex;
        }

        >div {
            height: 100vh;
        }

        span {
            line-height: 19.2px;
            color: $button-text-color;
            margin-bottom: 8px;
        }

        label {
            line-height: 19.2px;
            color: $form_border_color;
            margin-bottom: 8px;
            font-size: 14px;
        }

        .cancel,
        .cancel_white {
            position: absolute;
            top: 48px;
            right: 48px;
            z-index: 99999;
            cursor: pointer;

            @include responsive(l-tablet) {
                display: none !important;
            }
        }

        .cancel {
            display: none;
        }

        .cancel_white {
            display: block;

            @include responsive(l-tablet) {
                display: none;
            }
        }

        .cancel.active {
            display: block;
        }

        .cancel_white.active {
            display: none;
        }

        .sign_in {
            left: 0;
            width: 50%;
            z-index: 2;
        }

        .sign_up {
            left: 0;
            width: 50%;
            opacity: 0;
            z-index: 1;
        }

        .form_container {
            position: absolute;
            // top: 0;
            // left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            transition: all 0.6s ease-in-out;
            background-color: $containerBg;

            @include responsive(l-tablet) {
                position: static;
                margin: 0 auto;
                width: 100%;
            }

            .responsive_authorization_btn {
                display: none;
                background: transparent;
                border: 1px solid $form_border_color;
                color: $form_border_color;

                @include responsive(l-tablet) {
                    display: block;
                }
            }

            .authorization {
                font-size: 14px;
            }

            form {
                display: flex;
                justify-content: center;
                flex-direction: column;
                max-width: 380px;

                .responsive_register_btn {
                    display: none;
                    background: transparent;
                    border: 1px solid $form_border_color;
                    color: $form_border_color;

                    @include responsive(l-tablet) {
                        display: block;
                    }
                }

                #submitBtn {
                    @include responsive(l-tablet) {
                        margin: 32px 0 16px 0;
                    }
                }

                @include responsive(l-tablet) {
                    display: block;
                    top: 124px;
                    padding: 0px 24px;
                }

                .error_message {
                    display: none;
                    margin-top: -8px;
                    margin-bottom: 20px;
                    font-size: 14px;
                }

                .error_text {
                    color: $error-color;
                }

                input {
                    border: 1px solid $header-bg-color;
                    width: 100%;
                    height: 44px;
                    border-radius: 8px;
                    outline: none;
                    padding: 8px 16px;
                    margin-bottom: 16px;
                }

                #authorization_email_input,
                #authorization_password {
                    @include responsive(l-tablet) {
                        margin: 8px 0 16px 0;
                    }
                }

                #forget_password_email_input {
                    @include responsive(l-tablet) {
                        margin: 8px 0 16px 0;
                    }
                }

                input:focus {
                    border: 1px solid $header-bg-color;
                }

                a {
                    text-decoration: none;
                    color: $text_color_02;
                }

                h2 {
                    font-size: 24px;
                    line-height: 32px;
                    font-weight: 500;
                    color: $header-bg-color;
                    margin-bottom: 32px;
                    text-align: center;
                    font-feature-settings: 'case' on;
                }

                .forget {
                    margin-bottom: 32px;

                    a {
                        font-size: 14px;
                        line-height: 20px;
                        color: $header-bg-color;
                        cursor: pointer;
                    }
                }

                button {
                    width: 380px;
                    min-height: 48px;
                    border-radius: 8px;
                    margin-bottom: 20px;
                    background-color: $header-bg-color;
                    color: $text_color_02;
                    border: none;
                    line-height: 24px;
                    cursor: pointer;
                    font-family: "NotoSansGeorgian";

                    @include responsive(l-tablet) {
                        width: 327px;
                        margin-bottom: 0px;
                    }
                }

                button:hover {
                    background-color: $btnHover;
                    color: $white;
                    transition: all 0.3s ease-in-out;
                }

                .register_btn {
                    a {
                        padding: 10.5px 115.5px;
                    }

                    @include responsive(l-tablet) {
                        margin-bottom: 16px;
                    }
                }

                .box {
                    cursor: pointer;
                }

                .success_box {
                    display: none;
                }

                .visible {
                    display: block;
                }

                .google {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    background: transparent;
                    border: 1px solid $header-bg-color;
                    color: $form_border_color;

                    @include responsive(l-tablet) {
                        margin-bottom: 33px;
                    }
                }

                .person {
                    display: flex;
                    gap: 22px;

                    div {
                        display: flex;
                        flex-direction: column;
                    }
                }

                .password {
                    position: relative;

                    img {
                        position: absolute;
                        top: 12px;
                        right: 12px;
                        cursor: pointer;
                    }

                    #error_hide {
                        display: none;
                    }

                    #hide_password {
                        display: block;
                    }
                }
            }
        }
    }

    .sign_in {
        z-index: 2;
    }

    .sign_up {
        opacity: 0;
        z-index: 1;
    }

    .container.active .sign_in {
        transform: translateX(100%);
        opacity: 0;
        z-index: 0;
    }

    .container.active .sign_up {
        transform: translateX(100%);
        opacity: 1;
        z-index: 5;
        animation: move 0.6s;
    }

    @keyframes move {

        0%,
        49.99% {
            opacity: 0;
            z-index: 1;
        }

        50%,
        100% {
            opacity: 1;
            z-index: 5;
        }
    }

    .toggle_container {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        min-height: 700px;
        overflow: hidden;
        transition: all 0.6s ease-in-out;
        z-index: 1000;

        @include responsive(l-tablet) {
            display: none;
        }
    }

    .container.active .toggle_container {
        transform: translateX(-100%);
    }

    .toggle {
        height: 100%;
        background-color: $header-bg-color;
        color: $text_color_02;
        position: absolute;
        left: -100%;
        height: 100%;
        width: 200%;
        transition: all 0.6s ease-in-out;
        display: flex;
    }

    .container.active .toggle {
        transform: translateX(50%);
    }

    .toggle_panel {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 30px;
        text-align: center;
        top: 0;
        transform: translateX(0);
        transition: all 0.6s ease-in-out;

        img {
            height: 48px;
        }
    }

    .toggle_left {
        transform: translateX(-200%);
    }

    .container.active .toggle_left {
        transform: translateX(0);
    }

    .toggle_right {
        transform: translateX(0);
    }

    .toggle_right button {
        margin-bottom: 20px;
    }

    .container.active .toggle_right {
        transform: translateX(200%);
    }

    .toggle_panel img {
        margin-bottom: 32px;
    }

    .toggle button {
        background-color: $main_bg;
        color: $form_border_color;
        min-height: 48px;
        border-radius: 8px;
        line-height: 24px;
        width: 380px;
        cursor: pointer;
        font-family: "NotoSansGeorgian";
        transition: all 0.3s ease-in-out;
    }

    .toggle button:hover {
        background-color: $btnHover;
        color: $white;
    }

    .toggle img {
        width: 235px;
    }

    .container {
        .form_container {
            .agreement {
                display: flex;
                align-items: center;
                gap: 8px;
                margin-bottom: 20px;

                .agreement_checkbox {
                    width: 35px;
                    height: 35px;
                    border-radius: 3px;
                }
            }
        }
    }
}

.none {
    display: none !important;
}

.block {
    display: block !important;
}

.flex {
    display: flex !important;
}

.password_container {
    position: relative;
    display: flex;
    align-items: center;
}

input {
    background-color: $main_bg;
}

#password1 {
    position: relative;
}

.slash {
    position: absolute;
    width: 16px;
    height: 1px;
    border-radius: 5px;
    background: $slash;
    transform: translate(-50%, -50%) rotate(-45deg);
    top: 51%;
    left: 50%;
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease, background 0.3s ease;
    transform-origin: center;
}

.hidden .slash {
    opacity: 0;
}

.eye_icon svg {
    pointer-events: none;
}

.auth_eye_icon {
    width: 17px;
    height: 17px;
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 14px;

    @include responsive(l-tablet) {
        top: 20px;
    }
}

.auth_eye_icon svg {
    pointer-events: none;
}

.send_link_container {
    display: flex;
    gap: 64px;
    align-items: center;

    @include responsive(l-tablet) {
        flex-direction: column-reverse;
        text-align: center;
        margin: 84px 24px 137px;
    }

    h2 {
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
        color: $send_link_txt;
        margin-bottom: 24px;
    }

    h4 {
        line-height: 24px;
        color: $send_link_txt;
        margin-bottom: 16px;
    }

    #email {
        font-weight: 700;
        margin-bottom: 48px;
        color: $send_link_txt;
    }

    button {
        border-radius: 8px;
        padding: 12px 32px;
        background-color: $form_border_color;
        line-height: 24px;
        color: $white;
        font-feature-settings: 'case' on;
        transition: 0.3s ease;
    }

    button:hover {
        background-color: $btnHover;
    }
}

.successful_registration {
    display: flex;
    gap: 48px;
    align-items: center;
    flex-direction: column;

    @include responsive(l-tablet) {
        text-align: center;
    }

    h2 {
        line-height: 24px;
        font-weight: 700;
        color: $successfulRegister;
    }

    button {
        border-radius: 8px;
        padding: 12px 32px;
        background-color: #496AC1;
        height: 48px;
        font-feature-settings: 'case' on;
        color: $white;

        @include responsive(l-tablet) {
            width: 327px;
        }
    }
}