@use "../utils/variables" as *;
@use "../utils/mixins" as *;

main {
  display: flex;
  justify-content: center;
  background-color: $main_bg;
}

.main_container {
  width: 100%;
  max-width: 1440px;
  padding: 0 128px;
  @include responsive(pc) {
    padding: 0 128px;
  }
  @include responsive(tablet) {
    padding: 0 calc((128 - 47) / (1260 - 720) * (100vw - 720px) + 47px);
  }
  @include responsive(phone) {
    padding: 0 calc((47 - 16) / (720 - 375) * (100vw - 375px) + 16px);
  }
}
