@use "../utils/variables" as *;
@use "../utils/mixins" as *;

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  // background-color: $main_bg;
}

.main_container {
  width: 100%;
  max-width: 1440px;
  padding: 0 128px;

  @include responsive(tablet) {
    padding: 20px;
  }
}
