$main_bg: #f2f6fc;
$text_color: #232b48;
$card_bg: #e2eaf7;
$form_border_color: #496ac1;
$primary_bg: #496ac1;
$form_placeholder: #a9c4e7;
$body-bg-color: #f0f4f8;
$header-bg-color: #496ac1;
$nav-elements-color: rgba(246, 246, 246, 0.8);
$text-color: #e6e6e6;
$auth_btn_color: #f2f6fc;
$white: #ffffff;
$more_btn_color: #f2f6fc;
$button-text-color: #232b48;
$error-color: #e73b37;
$block_bg: #e2eaf7;
$text-color-02: #ffffff;
$button-text-color: #2c2c2c;
$block-text-color: #000000;
$error-color: #e73b37;
$transparentsnow: #ffffff70;
